logs
target
/.bsp
# Ignore .idea except runConfigurations (so we can share "Scala Native Run")
/.idea/*
!/.idea/runConfigurations/
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.bloop/
.metals/
.vscode/
metals.sbt
