name: Rust Security Audit

on:
  workflow_dispatch:
  push:
    paths:
      - 'rust-module/Cargo.toml'

permissions:
  contents: read

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Audit Rust dependencies
        run: cargo audit --json --file ./Cargo.lock
        working-directory: rust-module
        env:
          CARGO_TERM_COLOR: always
